<div class='Todo'>
  <ng-container *ngIf='todo$ | async as todos'>
    <div class='Todo__Filter'>
      <ng-container *ngFor='let status of todoStatus'>
        <button id={{status}} (click)=filter($event.target.id)
          [ngStyle]="{'background-color': TODO_STATUS[status]}"></button>
      </ng-container>
    </div>
    <div class='Todo__Card'>
      <ng-container *ngFor='let todo of todos'>
        <app-todo-card [(todo)]=todo></app-todo-card>
      </ng-container>
      <app-todo-create-card></app-todo-create-card>
    </div>
  </ng-container>
</div>
